<h1>Welcome! (this is the pages index)</h1>
<% if user_signed_in? %>
<p> Hi, <%= current_user.email %> </p>

<p> mga pang-test lang 'to nasa baba hehe </p>
<p> <%= link_to "view list of locations", locations_path %> </p>
<p> <%= link_to "view creatures", creatures_path %> </p>
<p><%= link_to "sign out", destroy_user_session_path, method: :delete %><p><% end %>
