ito ang ating guide para makita yung movement ng user table dapat to na lalabas yung bawat walk ng user

<h2>Table of User Locations</h2>
<%= link_to "Go back to home", maps_path %>
<hr>

  <table width="100%">
    <tr>
      <th>Name</th>
      <th>X-coordinate</th>
      <th>Y-coordinate</th>
    </tr>
    <tr>
      <% @user_locations.each do |user_location| %>
      <td align="center"><%= user_location.user.email %></td>
      <td align="center"> <%= user_location.location.xcoor%></td>
      <td align="center"> <%= user_location.location.ycoor %></td>
      </tr>
      <% end %>
  </table>
